<!doctype html>
<html>
<head>
<base target="_self" />
<meta charset="UTF-8">
<title>创宜生物</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/style/style.css" />
<script type="text/javascript" src="__PUBLIC__/style/jquery-1.8.0.min.js"></script>
</head>
<body>
 <include file="Common/header"/>
<div id="full-screen-slider-sec">
  <div class="layout">
      <div class="page-title">
      {$catetop.cate_name}
      </div>
    </div> 
</div>
<div class="main">
   <div class="layout cnt2">
     <div class="left">
        <ul id="nav2">
         
         <volist name="childids" id="vo">
           <li ><a href="__MODULE__/<if condition="$vo['cate_type'] eq 0">Page<else/>List</if>/index/cate_id/{$vo.cate_id}">{$vo.cate_name}</a></li>
         </volist>    
         
        </ul>
     </div>
     <div class="right">
        <h1>
           <div class="page">
             <a href='__APP__'>网站首页</a> >
                 <volist name="res" id="vo">
             <a href="__MODULE__/<if condition="$vo['cate_type'] eq 0">Page<else/>List</if>/index/cate_id/{$vo.cate_id}">{$vo.cate_name}</a><if condition="$i !=count($res)">></if>
                </volist>
           </div>
          {$cateself.cate_name}
        </h1>
        <div class="cnt-in">
         <div class="news-list-wimg">
           <ul>
           <volist name="list" id="vo">
             <li>            
                <h3> <a href="__MODULE__/Article/index/ar_id/{$vo.ar_id}">{$vo.ar_title}</a></h3>
                <p><img src="<if condition="$vo['ar_pic'] neq ''">__ROOT__/{$vo.ar_pic}<else/>__PUBLIC__/images/no.png</if>" width="120" height="90" style="float:left; margin-right:15px;">
                <span class="list-date">
                {$vo.ar_desc}
                </span>
                <span class="list-date">
                {$vo.ar_time|date="Y-m-d",###}
                </span></p>               
            </li>
            </volist>
          </ul>
         </div>
       <div class="pages">
              {$page}
         </div>
        </div>
     </div>
     <div class="clr"></div>
   </div>
</div>
 <include file="Common/footer"/>
</body>
</html>
<script type="text/javascript">
 $(document).ready(function(){
  var hrefs=$("#nav2 > li > a");
  hrefs.each(function(i,val){
    var cururl=window.location.href;
    if(cururl.contains=(val)){
      $(this).addClass("foucs");
    }
  }); 
 });
</script>